automation/n8n-ai-agent-workflow.json
{
  "name": "\ud83e\udd16 Messenger AI Agent - Hat Fix & Clean",
  "nodes": [
    {
      "id": "webhook",
      "name": "\ud83d\udce5 Messenger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 340],
      "webhookId": "messenger-ai",
      "parameters": {
        "path": "messenger-ai",
        "httpMethod": "POST",
        "responseMode": "immediately",
        "responseCode": 200,
        "options": {}
      }
    },
    {
      "id": "extract",
      "name": "\ud83d\udd0d \u0e41\u0e22\u0e01\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25 Messenger Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 340],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst entry = body.entry?.[0];\nconst messaging = entry?.messaging?.[0];\n\nif (!messaging?.message || messaging.message.is_echo) {\n  return [{ json: { skip: true } }];\n}\n\nconst psid = messaging.sender?.id;\nconst text = messaging.message?.text || '';\nconst images = (messaging.message?.attachments || [])\n  .filter(a => a.type === 'image')\n  .map(a => a.payload?.url);\n\nconst ref = messaging.referral?.ref || messaging.postback?.referral?.ref || '';\nconst adId = messaging.referral?.ad_id || '';\nconst adSource = messaging.referral?.source || '';\n\nconst userMessage = images.length > 0 && !text\n  ? '[\u0e25\u0e39\u0e01\u0e04\u0e49\u0e32\u0e2a\u0e48\u0e07\u0e23\u0e39\u0e1b\u0e2b\u0e21\u0e27\u0e01\u0e21\u0e32\u0e43\u0e2b\u0e49\u0e14\u0e39]'\n  : text;\n\nreturn [{\n  json: {\n    skip: false,\n    psid,\n    text: userMessage,\n    images,\n    ref,\n    ad_id: adId,\n    ad_source: adSource,\n    session_id: psid\n  }\n}];"
      }
    },
    {
      "id": "if_skip",
      "name": "\u2753 \u0e21\u0e35\u0e02\u0e49\u0e2d\u0e04\u0e27\u0e32\u0e21?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 340],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "ai_agent",
      "name": "\ud83e\udd16 AI Agent (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [920, 240],
      "parameters": {
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "\u0e04\u0e38\u0e13\u0e04\u0e37\u0e2d AI \u0e41\u0e2d\u0e14\u0e21\u0e34\u0e19\u0e02\u0e2d\u0e07\u0e40\u0e1e\u0e08 Hat Fix & Clean \u0e43\u0e2b\u0e49\u0e1a\u0e23\u0e34\u0e01\u0e32\u0e23\u0e0b\u0e31\u0e01 \u0e08\u0e31\u0e14\u0e17\u0e23\u0e07 \u0e2a\u0e1b\u0e32 \u0e41\u0e25\u0e30\u0e06\u0e48\u0e32\u0e40\u0e0a\u0e37\u0e49\u0e2d\u0e2b\u0e21\u0e27\u0e01\n\u0e1a\u0e38\u0e04\u0e25\u0e34\u0e01: \u0e2a\u0e38\u0e20\u0e32\u0e1e \u0e43\u0e08\u0e40\u0e22\u0e47\u0e19 \u0e21\u0e37\u0e2d\u0e2d\u0e32\u0e0a\u0e35\u0e1e \u0e43\u0e0a\u0e49\u0e04\u0e33\u0e25\u0e07\u0e17\u0e49\u0e32\u0e22\u0e27\u0e48\u0e32 \u0e04\u0e23\u0e31\u0e1a \u0e40\u0e2a\u0e21\u0e2d \u0e15\u0e2d\u0e1a\u0e01\u0e23\u0e30\u0e0a\u0e31\u0e1a\u0e0a\u0e31\u0e14\u0e40\u0e08\u0e19 2-3 \u0e1b\u0e23\u0e30\u0e42\u0e22\u0e04\n\n\u0e23\u0e32\u0e04\u0e32\u0e08\u0e31\u0e14\u0e17\u0e23\u0e07 (\u0e23\u0e27\u0e21\u0e2a\u0e1b\u0e32\u0e44\u0e2d\u0e19\u0e49\u0e33/\u0e06\u0e48\u0e32\u0e40\u0e0a\u0e37\u0e49\u0e2d):\n- 1-10 \u0e43\u0e1a = 89 \u0e1a\u0e32\u0e17/\u0e43\u0e1a\n- 11-49 \u0e43\u0e1a = 65 \u0e1a\u0e32\u0e17/\u0e43\u0e1a\n- 50-99 \u0e43\u0e1a = 45 \u0e1a\u0e32\u0e17/\u0e43\u0e1a\n- 100+ \u0e43\u0e1a = 30 \u0e1a\u0e32\u0e17/\u0e43\u0e1a\n(\u0e44\u0e21\u0e48\u0e23\u0e27\u0e21\u0e04\u0e48\u0e32\u0e2a\u0e48\u0e07\u0e01\u0e25\u0e31\u0e1a)\n\n\u0e0b\u0e31\u0e01\u0e19\u0e49\u0e33 (\u0e04\u0e23\u0e32\u0e1a\u0e40\u0e25\u0e2d\u0e30) \u0e40\u0e1e\u0e34\u0e48\u0e21\u0e43\u0e1a\u0e25\u0e30 50 \u0e1a\u0e32\u0e17\n\u0e23\u0e49\u0e32\u0e19\u0e44\u0e21\u0e48\u0e23\u0e31\u0e1a\u0e07\u0e32\u0e19\u0e0b\u0e48\u0e2d\u0e21 (\u0e40\u0e22\u0e47\u0e1a/\u0e40\u0e1b\u0e25\u0e35\u0e48\u0e22\u0e19\u0e2d\u0e30\u0e44\u0e2b\u0e25\u0e48/\u0e15\u0e2d\u0e01\u0e15\u0e32\u0e44\u0e01\u0e48)\n\n\u0e2b\u0e21\u0e27\u0e01\u0e1a\u0e32\u0e07\u0e17\u0e23\u0e07\u0e17\u0e35\u0e48\u0e40\u0e02\u0e49\u0e32\u0e40\u0e04\u0e23\u0e37\u0e48\u0e2d\u0e07\u0e44\u0e21\u0e48\u0e44\u0e14\u0e49 (Fedora/\u0e1b\u0e35\u0e01\u0e41\u0e02\u0e47\u0e07) \u0e23\u0e49\u0e32\u0e19\u0e08\u0e30\u0e43\u0e0a\u0e49\u0e21\u0e37\u0e2d\u0e14\u0e31\u0e14\u0e43\u0e2b\u0e49\u0e14\u0e35\u0e17\u0e35\u0e48\u0e2a\u0e38\u0e14\n\u0e2b\u0e21\u0e27\u0e01\u0e1b\u0e35\u0e01\u0e2b\u0e31\u0e01/\u0e42\u0e04\u0e23\u0e07\u0e2a\u0e23\u0e49\u0e32\u0e07\u0e40\u0e2a\u0e35\u0e22\u0e2b\u0e32\u0e22\u0e2b\u0e19\u0e31\u0e01: \u0e08\u0e30\u0e1e\u0e22\u0e32\u0e22\u0e32\u0e21\u0e08\u0e31\u0e14\u0e43\u0e2b\u0e49\u0e14\u0e35\u0e17\u0e35\u0e48\u0e2a\u0e38\u0e14 \u0e16\u0e49\u0e32\u0e17\u0e33\u0e44\u0e21\u0e48\u0e44\u0e14\u0e49\u0e44\u0e21\u0e48\u0e04\u0e34\u0e14\u0e04\u0e48\u0e32\u0e43\u0e0a\u0e49\u0e08\u0e48\u0e32\u0e22\u0e04\u0e23\u0e31\u0e1a\n\n\u0e25\u0e33\u0e14\u0e31\u0e1a\u0e15\u0e2d\u0e1a\u0e25\u0e39\u0e01\u0e04\u0e49\u0e32\u0e43\u0e2b\u0e21\u0e48:\n1. \u0e17\u0e31\u0e01\u0e17\u0e32\u0e22 \u0e16\u0e32\u0e21\u0e08\u0e31\u0e07\u0e2b\u0e27\u0e31\u0e14 + \u0e08\u0e33\u0e19\u0e27\u0e19\u0e2b\u0e21\u0e27\u0e01\n2. \u0e41\u0e08\u0e49\u0e07\u0e23\u0e32\u0e04\u0e32\u0e15\u0e32\u0e21\u0e08\u0e33\u0e19\u0e27\u0e19\n3. \u0e43\u0e2b\u0e49\u0e2a\u0e48\u0e07\u0e23\u0e39\u0e1b\u0e2b\u0e21\u0e27\u0e01\u0e21\u0e32\u0e14\u0e39\u0e01\u0e48\u0e2d\u0e19\n4. \u0e41\u0e08\u0e49\u0e07\u0e17\u0e35\u0e48\u0e2d\u0e22\u0e39\u0e48\u0e2a\u0e48\u0e07\u0e02\u0e2d\u0e07: \u0e2d\u0e20\u0e34\u0e23\u0e31\u0e15\u0e19\u0e4c \u0e1b\u0e23\u0e35\u0e0a\u0e32 7/1064 \u0e21.\u0e21\u0e42\u0e19\u0e23\u0e21\u0e22\u0e4c 4 \u0e16.\u0e40\u0e25\u0e35\u0e22\u0e1a\u0e04\u0e25\u0e2d\u0e07\u0e2a\u0e2d\u0e07 \u0e41\u0e02\u0e27\u0e07\u0e2a\u0e32\u0e21\u0e27\u0e32\u0e15\u0e30\u0e27\u0e31\u0e19\u0e15\u0e01 \u0e40\u0e02\u0e15\u0e04\u0e25\u0e2d\u0e07\u0e2a\u0e32\u0e21\u0e27\u0e32 \u0e01\u0e17\u0e21 10510 \u0e42\u0e17\u0e23 0845540425\n5. \u0e22\u0e49\u0e33: \u0e2a\u0e48\u0e07\u0e41\u0e25\u0e49\u0e27\u0e23\u0e1a\u0e01\u0e27\u0e19\u0e41\u0e08\u0e49\u0e07\u0e40\u0e25\u0e02\u0e1e\u0e31\u0e2a\u0e14\u0e38\u0e41\u0e25\u0e30\u0e02\u0e19\u0e2a\u0e48\u0e07\u0e14\u0e49\u0e27\u0e22\u0e19\u0e30\u0e04\u0e23\u0e31\u0e1a\n\n\u0e01\u0e32\u0e23\u0e0a\u0e33\u0e23\u0e30\u0e40\u0e07\u0e34\u0e19:\n- \u0e44\u0e21\u0e48\u0e15\u0e49\u0e2d\u0e07\u0e42\u0e2d\u0e19\u0e01\u0e48\u0e2d\u0e19 \u0e23\u0e49\u0e32\u0e19\u0e17\u0e33\u0e40\u0e2a\u0e23\u0e47\u0e08\u0e16\u0e48\u0e32\u0e22\u0e23\u0e39\u0e1b\u0e2a\u0e48\u0e07\u0e43\u0e2b\u0e49\u0e14\u0e39 \u0e41\u0e25\u0e49\u0e27\u0e04\u0e48\u0e2d\u0e22\u0e42\u0e2d\u0e19\u0e01\u0e48\u0e2d\u0e19\u0e2a\u0e48\u0e07\u0e01\u0e25\u0e31\u0e1a\n- \u0e04\u0e48\u0e32\u0e2a\u0e48\u0e07\u0e01\u0e25\u0e31\u0e1a\u0e40\u0e2b\u0e21\u0e32 50 \u0e1a\u0e32\u0e17\n- \u0e1a\u0e31\u0e0d\u0e0a\u0e35: \u0e01\u0e2a\u0e34\u0e01\u0e23\u0e44\u0e17\u0e22 098-2-65865-9 (\u0e2d\u0e20\u0e34\u0e23\u0e31\u0e15\u0e19\u0e4c \u0e1b\u0e23\u0e35\u0e0a\u0e32) \u0e2b\u0e23\u0e37\u0e2d \u0e01\u0e23\u0e38\u0e07\u0e28\u0e23\u0e35 7881123415 (\u0e0a\u0e32\u0e19\u0e31\u0e19\u0e17\u0e4c \u0e1b\u0e23\u0e35\u0e0a\u0e32)\n\n\u0e40\u0e21\u0e37\u0e48\u0e2d\u0e2a\u0e48\u0e07\u0e07\u0e32\u0e19\u0e04\u0e37\u0e19\u0e41\u0e25\u0e49\u0e27: \u0e02\u0e2d\u0e2d\u0e19\u0e38\u0e0d\u0e32\u0e15\u0e17\u0e33\u0e04\u0e25\u0e34\u0e1b\u0e23\u0e35\u0e27\u0e34\u0e27 \u0e41\u0e25\u0e30\u0e1d\u0e32\u0e01\u0e25\u0e39\u0e01\u0e04\u0e49\u0e32\u0e23\u0e35\u0e27\u0e34\u0e27\u0e40\u0e1e\u0e08\u0e14\u0e49\u0e27\u0e22",
          "maxIterations": 5
        }
      }
    },
    {
      "id": "openai_model",
      "name": "\ud83d\udcac OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [820, 500],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "Tim2fk2VXaZ0pbai",
          "name": "OpenAI - Hat Fix Clean"
        }
      }
    },
    {
      "id": "memory",
      "name": "\ud83d\udcbe Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1020, 500],
      "parameters": {
        "sessionKey": "={{ $('\ud83d\udd0d \u0e41\u0e22\u0e01\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25 Messenger Event').item.json.session_id }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "send_messenger",
      "name": "\ud83d\udce4 \u0e2a\u0e48\u0e07\u0e15\u0e2d\u0e1a\u0e01\u0e25\u0e31\u0e1a\u0e17\u0e32\u0e07 Messenger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 240],
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "access_token", "value": "={{ $env.FB_PAGE_ACCESS_TOKEN }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ recipient: { id: $('\ud83d\udd0d \u0e41\u0e22\u0e01\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25 Messenger Event').item.json.psid }, message: { text: $json.output } }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "save_backend",
      "name": "\ud83d\udcbe \u0e1a\u0e31\u0e19\u0e17\u0e36\u0e01\u0e25\u0e07 Backend DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1460, 240],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'message_event', data: { psid: $('\ud83d\udd0d \u0e41\u0e22\u0e01\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25 Messenger Event').item.json.psid, content: $('\ud83d\udd0d \u0e41\u0e22\u0e01\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25 Messenger Event').item.json.text, direction: 'inbound', ai_reply: $('\ud83e\udd16 AI Agent (OpenAI)').item.json.output, ref: $('\ud83d\udd0d \u0e41\u0e22\u0e01\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25 Messenger Event').item.json.ref, ad_id: $('\ud83d\udd0d \u0e41\u0e22\u0e01\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25 Messenger Event').item.json.ad_id, images: $('\ud83d\udd0d \u0e41\u0e22\u0e01\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25 Messenger Event').item.json.images } }) }}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "noop_skip",
      "name": "\u23ed\ufe0f \u0e02\u0e49\u0e32\u0e21",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [920, 460],
      "parameters": {}
    }
  ],
  "connections": {
    "\ud83d\udce5 Messenger Webhook": {
      "main": [[{ "node": "\ud83d\udd0d \u0e41\u0e22\u0e01\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25 Messenger Event", "type": "main", "index": 0 }]]
    },
    "\ud83d\udd0d \u0e41\u0e22\u0e01\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25 Messenger Event": {
      "main": [[{ "node": "\u2753 \u0e21\u0e35\u0e02\u0e49\u0e2d\u0e04\u0e27\u0e32\u0e21?", "type": "main", "index": 0 }]]
    },
    "\u2753 \u0e21\u0e35\u0e02\u0e49\u0e2d\u0e04\u0e27\u0e32\u0e21?": {
      "main": [
        [{ "node": "\ud83e\udd16 AI Agent (OpenAI)", "type": "main", "index": 0 }],
        [{ "node": "\u23ed\ufe0f \u0e02\u0e49\u0e32\u0e21", "type": "main", "index": 0 }]
      ]
    },
    "\ud83d\udcac OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "\ud83e\udd16 AI Agent (OpenAI)", "type": "ai_languageModel", "index": 0 }]]
    },
    "\ud83d\udcbe Window Buffer Memory": {
      "ai_memory": [[{ "node": "\ud83e\udd16 AI Agent (OpenAI)", "type": "ai_memory", "index": 0 }]]
    },
    "\ud83e\udd16 AI Agent (OpenAI)": {
      "main": [[{ "node": "\ud83d\udce4 \u0e2a\u0e48\u0e07\u0e15\u0e2d\u0e1a\u0e01\u0e25\u0e31\u0e1a\u0e17\u0e32\u0e07 Messenger", "type": "main", "index": 0 }]]
    },
    "\ud83d\udce4 \u0e2a\u0e48\u0e07\u0e15\u0e2d\u0e1a\u0e01\u0e25\u0e31\u0e1a\u0e17\u0e32\u0e07 Messenger": {
      "main": [[{ "node": "\ud83d\udcbe \u0e1a\u0e31\u0e19\u0e17\u0e36\u0e01\u0e25\u0e07 Backend DB", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
